
@{
    
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>

        $(document).ready(function () {

            
            //VIEW CATEGORIES
            function viewcategories(data) {
                $(".categories-row").remove();
                if (data.length >= 0) {
                    $.each(data, function (i, item) {
                        $(".categories").append(
                            "<ul class='categories-row' id = '"+item.id+"'>" +
                            "<li id='categories-cell'>" + item.id +

                            "</li>" +
                            "<li id='categories-cell'>" + item.name +

                            "</li>" +
                            "<li id='categories-cell' class = 'delete-category'>" + "<span class = '" + item.id + "'>" + "Удалить" + "</span>" +

                            "</li>" +
                            "<li id='categories-cell' class = 'update-category'>" + "<span class = '" + item.id + "'>" + "Изменить" + "</span>" +

                            "</li>" +

                            "</li>" +
                            "<li id='categories-cell'  >" + "<input type = 'checkbox'  id = 'dishes'  class = '" + item.id + "'>" + "Блюда" + "</span>" +

                            "</li>" +
                            "</ul>"

                        );
                    });
                }
                else { alert("noone"); }
            }

            //VIEW DISHES BY CATEGORY
            function viewdishes(data) {
                //$(".dishes-row").remove();
                if (data.length >= 0) {
                    $.each(data, function (i, item) {
                        $("#" + item.categoryID + ".categories-row").append(
                            "<ul id='" + item.categoryID + "' class='dishes-row " + item.id + "'>" +
                            "<li id='dishes-cell'>" + item.id +

                            "</li>" +
                            "<li id='dishes-cell'>" + item.name +

                            "</li>" +
                            "<li id='dishes-cell' class = 'delete-dish'>" + "<span class = '" + item.id + "'>" + "Удалить" + "</span>" +

                            "</li>" +
                            "<li id='dishes-cell' class = 'update-dish'>" + "<span class = '" + item.id + "'>" + "Изменить" + "</span>" +

                            "</li>" +

                            
                            "</ul>"

                        );
                        //console.log("#" + item.categoryID + " .categories-row");
                    });
                }
                else { alert("noone"); }
            }

            var catSize = 0;
            //Получение категорий
            $.ajax({
                url: "/Admin/GetCategory/",
                type: "GET",
                contentType: "application/json",
                success: function (data) {
                    viewcategories(data);
                    
                },
                error: function () {
                    alert("error");

                }

            });
          
            //Удаление категории
            $(document).on("click", ".delete-category", function () {
                var id = $(this).children().attr('class');
                $.ajax({
                    url: "/Admin/DelCategory/",
                    type: "POST",
                   
                    contentType: "application/json",
                    data: JSON.stringify({
                        Id: id,
                        Name : ""
                    }),
                    dataType : "json",
                    success: function (response) {
                        viewcategories(response);
                    },
                    error: function () {
                        alert("error");
                    },
                    
                });
            });
            //Изменение категории
            $(document).on("click", ".update-category", function () {
                var id = $(this).children().attr('class');
                console.log(id);
            });


            //Получение блюд по категории
            $(document).on("click", "#dishes", function () {
                var id = $(this).attr('class');
               
                if ($(this).prop('checked')) {
                    $.ajax({
                        url: "/Admin/GetDishes/" + id,
                        type: "GET",
                        contentType: "application/json",
                        success: function (response) {
                            viewdishes(response);
                            //console.log(response);
                        },
                        error: function () {
                            alert("error");
                        },

                    });
                }
                else {
                    //console.log("#" + id + ".dishes-row");
                    $("#" + id + ".dishes-row").remove();
                }
                    
            });

            //Удаление блюда
            $(document).on("click", ".delete-dish", function () {
                var id = $(this).children().attr('class');
               // console.log(".dishes-row ." + id);
                $.ajax({
                    url: "/Admin/DelDish/",
                    type: "POST",

                    contentType: "application/json",
                    data: JSON.stringify({
                        Id: id
                    }),
                    
                    dataType: "json",
                    success: function (response) {
                        $(".dishes-row." + id).remove();
                    },
                    error: function () {
                        alert("error");
                    },

                });
            });
        });
        
    </script>
</head>
<body>

    

    <div class="categories">

    </div>


    <div class="headMenu">

        <form method="post" action="~/Admin/AddCategory">
            <div class="divname"><input class="form-control inputCon" type="text" name="Name" placeholder="Название категории" /></div>

            <input type="submit" value="Добавить" />
        </form>

        <form method="post" action="~/Admin/AddDish">
            <div class="divname"><input class="form-control inputCon" type="text" name="name" placeholder="Название блюда" /></div>
            <div class="divname"><input class="form-control inputCon" type="text" name="price" placeholder="Цена блюда" /></div>
            <div class="divname"><input class="form-control inputCon" type="text" name="property" placeholder="Описание блюда" /></div>
            <div class="divname"><input class="form-control inputCon" type="text" name="category" placeholder="Номер категории" /></div>
            <input type="submit" value="Добавить" />
        </form>
    </div>

    <style>
        .categories {
            display: table;
        }

        .categories-row {
            display: table-row;
            height: 25px;
        }

        #categories-cell {
            display: table-cell;
            padding: 0px 30px;
        }


        .dishes-row {
            display: table-row;
            height: 25px;
        }

        #dishes-cell {
            display: table-cell;
            padding: 0px 30px;
        }
    </style>



    




</body>
</html>

