
@{
    
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {

            function getcategories(data) {
                $(".item-row").remove();
                if (data.length >= 0) {
                    $.each(data, function (i, item) {
                        $(".item").append(
                            "<ul class='item-row'>" +
                            "<li id='item-cell'>" + item.id +

                            "</li>" +
                            "<li id='item-cell'>" + item.name +

                            "</li>" +
                            "<li id='item-cell' class = 'delete'>" + "<span class = '" + item.id + "'>" + "Удалить" + "</span>" +

                            "</li>" +
                            "<li id='item-cell' class = 'update'>" + "<span class = '" + item.id + "'>" + "Изменить" + "</span>" +

                            "</li>" +

                            "</li>" +
                            "<li id='item-cell' class = 'dishes'>" + "<span class = '" + item.id + "'>" + "Блюда" + "</span>" +

                            "</li>" +
                            "</ul>"

                        );
                    });
                }
                else { alert("noone"); }
            }
            
            //Получение категорий
            $.ajax({
                url: "/Admin/GetCategory/",
                type: "GET",
                contentType: "application/json",
                success: function (data) {
                    getcategories(data);
                },
                error: function () {
                    alert("error");

                }

            });
            //Удаление категории
            $(document).on("click", ".delete", function () {
                var id = $(this).children().attr('class');
                $.ajax({
                    url: "/Admin/DelCategory/",
                    type: "POST",
                   
                    contentType: "application/json",
                    data: JSON.stringify({
                        Id: id,
                        Name : ""
                    }),
                    dataType : "json",
                    success: function (response) {
                        getcategories(response);
                    },
                    error: function () {
                        alert("error");
                    },
                    
                });
            });
            //Изменение категории
            $(document).on("click", ".update", function () {
                var id = $(this).children().attr('class');
                console.log(id);
            });
            //Получение блюд по категории
            $(document).on("click", ".dishes", function () {
                var id = $(this).children().attr('class');
                //console.log(id);
                $.ajax({
                    url: "/Admin/GetDishes/"+id,
                    type: "GET",
                    contentType: "application/json",
                    success: function (response) {
                        console.log(response);
                    },
                    error: function () {
                        alert("error");
                    },

                });
            });
        });
        
    </script>
</head>
<body>

    

    <div class="item">

    </div>


    <div class="headMenu">

        <form method="post" action="~/Admin/AddCategory">
            <div class="divname"><input class="form-control inputCon" type="text" name="Name" placeholder="Название категории" /></div>

            <input type="submit" value="Добавить" />
        </form>

        <form method="post" action="~/Admin/AddDish">
            <div class="divname"><input class="form-control inputCon" type="text" name="name" placeholder="Название блюда" /></div>
            <div class="divname"><input class="form-control inputCon" type="text" name="price" placeholder="Цена блюда" /></div>
            <div class="divname"><input class="form-control inputCon" type="text" name="property" placeholder="Описание блюда" /></div>
            <div class="divname"><input class="form-control inputCon" type="text" name="category" placeholder="Номер категории" /></div>
            <input type="submit" value="Добавить" />
        </form>
    </div>

    <style>
        .item {
            display: table;
        }

        .item-row {
            display: table-row;
       
            height: 25px;
        }

        #item-cell {
            display: table-cell;
            padding: 0px 30px;
        }
    </style>



    




</body>
</html>

