@model Dolce_Vita.Models.LoginModel
@{
    ViewData["Title"] = "Login";
}

<!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trendy Flat Login Form A Responsive Widget Template :: W3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Trendy Flat Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Meta tag Keywords -->
    <!--font-awesome-css-->
    <link href="~/LoginPage/css/font-awesome.css" rel="stylesheet">
    <!--//font-awesome-css-->
    <!-- css files -->
    <link href="~/LoginPage/css/style.css" rel="stylesheet" type="text/css" media="all">
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900iSlabo+27px&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <!--//online-fonts -->
</head>
    <body>
        <!--header-->
        <div class="agileheader">
            <h1>Trendy Flat Login Form</h1>
        </div>
        <!--//header-->
        <!--main-->
        <section class="main-w3l">
            <div class="w3layouts-main">
                <h2>Login Now</h2>
                <div class="w3ls-form">
                    <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
                        <div class="validation" asp-validation-summary="ModelOnly"></div>
                        <div>
                            <div class="form-group">
                                <label asp-for="Login">Введите Email</label>
                                <input type="text" asp-for="Login" />
                                <span asp-validation-for="Login" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Password">Введите пароль</label>
                                <input asp-for="Password" />
                                <span asp-validation-for="Password" />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Войти" class="btn" />
                            </div>
                        </div>
                    </form>

                </div>
                <div class="w3ls-bottom">
                    <p>Don't Have an Account ?<a href="#">Register Now</a></p>
                </div>
            </div>
        </section>
        <!--//main-->
        <!--footer-->
        <div class="footer-w3l">
            <p>&copy; 2018 Trendy Flat Login Form. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
        </div>
        <!--//footer-->

    </body>
</html>